<script>
    console.log(`%c
    ██╗   ██╗██╗███████╗██████╗  █████╗ 
    ██║   ██║██║██╔════╝██╔══██╗██╔══██╗
    ██║   ██║██║█████╗  ██████╔╝███████║
    ╚██╗ ██╔╝██║██╔══╝  ██╔══██╗██╔══██║
     ╚████╔╝ ██║███████╗██║  ██║██║  ██║
      ╚═══╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝
    `, "background: -webkit-linear-gradient(left, black, gray, white, gray, black); -webkit-background-clip: text; -webkit-text-fill-color: transparent;");
</script>  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">
    <title>Status Page</title>
    
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #1a1a1a;
            color: #ffffff;
        }
        p {
            text-align: center;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <p><i class="fa-solid fa-clock"></i> Uptime: {{ uptime.days }} days, {{ uptime.seconds // 3600 }} hours, {{ (uptime.seconds // 60) % 60 }} minutes, and {{ uptime.seconds % 60 }} seconds</p>
    <p><i class="fa fa-user"></i> Logged in as {{ user.username }}</p>
</body>
</html>